/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* From https://github.com/murtaugh/HTML5-Reset/blob/master/assets/css/reset.css */
/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}


/* My mods */

:root {
	/* <abbr> styles */
	--abbr-line: underline;
	--abbr-style: dotted;
	--abbr-color: #00000072;

	/* <button> styles */
	--btn-color: #000;
	--btn-b-rad: 0.2em;
	--btn-b-width: 0.05em;
	--btn-b-style: outset;
	--btn-b-color: var(--btn-color);
	--btn-back-img: linear-gradient(#fff, #ccc);
	--btn-pad: 0.25em 0.35em 0.25em 0.35em;
	/* <button>:focus */
	--btn-foc-b-color: #009;
	--btn-foc-shadow: 0 0 0.1em 0.05em #3cf;
	/* <button>:hover */
	--btn-hov-b-color: var(--btn-foc-b-color);
	--btn-hov-back-img: linear-gradient(#eff, #9cf);
	--btn-hov-shadow: none;
	/* <button>:active */
	--btn-act-b-style: inset;
	--btn-act-back-img: linear-gradient(#e0f0f0, #7ad);
	--btn-act-pad: 0.25em 0.3em 0.25em 0.4em;
	--btn-act-shadow: inset 0 0 0.05em 0.05em #0009;
	/* <button>:disabled */
	--btn-dis-pad: 0.25em 0.35em 0.25em 0.35em;
	--btn-dis-shadow: none !important;
	--btn-dis-b-width: var(--btn-b-width);
	--btn-dis-b-style: var(--btn-b-style);
	--btn-dis-b-color: var(--btn-b-color);
	--btn-dis-back-img: linear-gradient(#ccc, #999);
	--btn-dis-color: #666;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ul ul {
	list-style-type: circle;
}

ol,ul {
	padding-left: 2.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

p {
	margin: 1em 0;
}

div,p,blockquote,h1,h2,h3,h4,h5,h6,li {
	line-height: 1.15;
}

em,i {
	font-style: italic;
}

strong,b {
	font-weight: bold;
}

img,button,select {
	display: inline-block;
}

abbr {
	text-decoration-line: var(--abbr-line);
	text-decoration-style: var(--abbr-style);
	text-decoration-color: var(--abbr-color);
}

/*
	The following is stolen from Normalize

	* 1. Change the font styles in all browsers.
	* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 80%;
	line-height: 1.15;
	margin: 0;
}

/**
	* Show the overflow in IE.
	* 1. Show the overflow in Edge.
*/

button,
input {
	overflow: visible;
}

/*
	* Remove the inheritance of text transform in Edge, Firefox, and IE.
	* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
	text-transform: none;
}

/*
	* Correct the inability to style clickable types in iOS and Safari.
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
}


/* My mods again, making buttons more button-like. */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: var(--btn-b-rad);
	border-width: var(--btn-b-width);
	border-style: var(--btn-b-style);
	border-color: var(--btn-b-color);
	background-image: var(--btn-back-img);
	color: var(--btn-color);
	padding: var(--btn-pad);
	outline: none;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	border-color: var(--btn-foc-b-color);
	box-shadow: var(--btn-foc-shadow);
	outline: none;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-image: var(--btn-hov-b-img);
	box-shadow: var(--btn-hov-shadow);
	border-color: var(--btn-hov-b-color);
	outline: none;
}
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background-image: var(--btn-act-back-img);
	border-style: var(--btn-act-b-style);
	box-shadow: var(--btn-act-shadow);
	padding: var(--btn-act-pad);
	outline: none;
}
button:disabled,
button:disabled:focus,
button:disabled:hover,
button:disabled:active,
input[type="button"]:disabled,
input[type="button"]:disabled:focus,
input[type="button"]:disabled:hover,
input[type="button"]:disabled:active,
input[type="reset"]:disabled,
input[type="reset"]:disabled:focus,
input[type="reset"]:disabled:hover,
input[type="reset"]:disabled:active,
input[type="submit"]:disabled,
input[type="submit"]:disabled:focus,
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active {
	padding: var(--btn-dis-pad);
	box-shadow: var(--btn-dis-shadow);
	border-width: var(--btn-dis-b-width);
	border-style: var(--btn-dis-b-style);
	border-color: var(--btn-dis-b-color);
	background-image: var(--btn-dis-back-img);
	color: var(--btn-dis-color);
	outline: none;
}
